@font-face {
    font-family: 'Inika';
    src: url('/assets/fonts/Inika-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Regular.ttf');
}

@mixin main-typography ($height: 35px) {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: $height;
    color: $main-text;
}

@mixin inika-titles () {
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: $green-text;
}

@mixin price-typography ($line-height: 48px) {
    font-family: 'Inter', sans-serif;
    
    font-weight: bold;
    font-size: 40px;
    line-height: $line-height;
}

@mixin button-hover ($color: #FFFFFF) {
    cursor: pointer;

    &:hover {
        color: $color;
        background-color: $orange;
        transition: .3s;
    }
}

$background-color: #EDF2EC;;
$links-nav: #010201;
$main-text: #636060;
$green-text: #499A18;
$orange: #E06733;
$grey: #717171;
$border-color: #E3E1D5;


$Inika: 'Inika', serif;
$Inter: 'Inter', sans-serif;

html {
    scroll-behavior: smooth;   
}

//header

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 110px;

    @media (max-width: 972px) {
        padding: 0 50px;
    }

    @media (max-width: 480px) {
        padding: 0 25px;
    }
}

.header {
    height: 134px;
    background-color: $background-color;
    font-family: $Inika;

    .container {
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 958px) {
        height: 117px;
    }

    @media (max-width: 480px) {
        height: 96px;
    }
}

.logo-container {
    padding: 52px 0 61px 0;
    height: 20px;

    @media (max-width: 958px) {
        padding: 46px 0 61px 0;
    }

    @media (max-width: 480px) {
        padding: 36px 0 61px 0;
    }
}

.logo {
    width: 19.52px;
    height: 19.55px;
}

.logo-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.nav-section {
    padding: 42px 0;
    width: 465px;
    height: 50px;

    @media (max-width: 958px) {
        padding: 35px 0;
    }

    @media (max-width: 665px) {
        display: none;
    }
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    padding: 0;
    margin: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;

    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #010201;
    &:hover {
        color: $orange;
        transition: .3s;
    }
}

.burger-container {
    display: none;

    @media (max-width:665px) {
        display: block;
        margin-top: 36px;
        cursor: pointer;
    }
}

.burger-menu {
    position: fixed;
    right: 0;
    left: 130px;
    top: 10px;
    bottom: 0;

    width: 60%;
    height: 300px;
    

    background-color: $green-text;
    border-radius: 10%;
}

.dash-container {
    position: absolute;
    left: 15px;
    top: 30px;
    width: 30px;
    height: 30px;
}

.dash {
    width: 25px;
    height: 2px;
    background-color: #D9D9D9;
}

.dash-part1 {
    transform: rotate(45deg) translate(-1px, -2px);
}

.dash-part2 {
    transform: rotate(-45deg) translate(3.5px, -2px);
}

.burger-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;

    font-family: $Inika;
    list-style: none;
}

.burger-link {
    padding: 10px 90px 10px 5px;
}

//welcome

.welcome {
    height: 532px;
    background-color: $background-color;
    
    .container {
        display: flex;
        justify-content: space-between;

        padding-top: 16px;

        @media (max-width: 958px) {
            padding-top: 40px;
        }

        @media (max-width:665px) {
            padding-top: 24px;
        }
    }

    @media (max-width: 958px) {
        height: 420px;
    }

    @media (max-width:665px) {
        height: 300px;
    }
}

.leafs-container {
    width: 36.59%;

    @media (max-width: 958px) {
        order: 2;

        width: 42%;
    }

    @media (max-width:600px) {
        display: none;
    }
}

.leafs {
    width: 100%;
    height: auto;
}

.welcome-block {
    width: 45.8%;
    padding-top: 50px;
    font-family: $Inter;

    @media (max-width: 958px) {
        width: 51.2%;
        padding-top: 0;
        
    }

    @media (max-width:665px) {
        width: 100%;
    }

}

.welcome-title {
    margin: 0;
    padding: 0 0 42px 0;
    font-family: $Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: $grey;
    span {
        color: $green-text;
    }

    @media (max-width: 958px) {

        padding: 0 0 30px 0;
        font-size: 35px;
    }

    @media (max-width:665px) {
        padding: 0 0 20px 0;

        font-size: 25px;
        line-height: 35px;
    }
}

.welcome-text {
    margin: 0 0 48px 0;
    @include main-typography();

    @media (max-width: 958px) {
        margin: 0 0 40px 0;

        font-size: 16px;
        line-height: 25px;
    }

    @media (max-width:665px) {
        margin: 0 0 25px 0;
    }
}

.welcome-button {
    width: 158.65px;
    height: 44px;

    font-family: $Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 10px;

    @include button-hover (#000000);

    @media (max-width:665px) {
        width: 100px;
        height: 34px;

        font-size: 10px;
    }
}

//about

.about {
    height: 666px;

    @media (max-width: 972px) {
        height: 783px;
    }

    @media (max-width:665px) {
        height: 516px;
    }

    .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 972px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.about-block {
    width: 49.5%;
    margin: 150px 0 0 0;
    padding: 0;

    @media (max-width: 972px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0 0 0;

        width: 100%;
    }

    @media (max-width:665px) {
        width: 100%;
        margin: 30px 0 0 0;
    }
}

.about-title {
    margin: 0;
    padding-bottom: 40px;
    @include inika-titles();
    
    span {
        color: $orange;
    }

    @media (max-width: 972px) {
        padding-bottom: 45px;
        width: 63.45%;
        
        font-weight: 400;
        font-size: 35px;
        line-height: 46px;
        text-align: center;
    }

    @media (max-width:665px) {
        width: 87.3%;
        padding-bottom: 15px;

        font-size: 25px;
        line-height: 33px;
    }
}

.about-text {
    margin: 0;
    @include main-typography(30px);

    @media (max-width: 972px) {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    }

    @media (max-width:665px) {
        font-size: 15px;
        line-height: 25px;
    }
}


.houseplant-container {
    width: 38%;

    @media (max-width:665px) {
        width: 45%;
    }
}

.houseplant {
    margin-top: 82px;

    width: 100%;
    height: auto;

    @media (max-width:972px) {
        margin-top: 70px;
    }

    @media (max-width:665px) {
        margin-top: 0;
    }
}

//services

.services {
    height: 1300px;

    background-color: $background-color;

    .container {
        padding-top: 35px;

        @media (max-width:972px) {
            padding-top: 60px;
        }

        @media (max-width:665px) {
            padding-top: 30px;
        }
    }
    
    @media (max-width:1220px) {
        height: 1200px;
    }

    @media (max-width:1080px) {
        height: 1100px;
    }

    @media (max-width:972px) {
        height: 1300px;
    }

    @media (max-width:830px) {
        height: 1200px;
    }

    @media (max-width:768px) {
        height: 1780px;
    }

    @media (max-width:740px) {
        height: 1700px;
    }

    @media (max-width:670px) {
        height: 1500px;
    }

    @media (max-width:600px) {
        height: 3700px;
    }

    @media (max-width:440px) {
        height: 3600px;
    }

    @media (max-width:400px) {
        height: 3300px;
    }

    @media (max-width:380px) {
        height: 3150px;
    }
}

.services-header {
    grid-area: 1 / 1;

    display: flex;
    justify-content: space-between;
    max-width: 1007px;

    @media (max-width:972px) {
        flex-direction: column;
    }
}

.services-title {
    max-width: 306px;
    margin: 0;
    padding: 0;
    @include inika-titles();

    @media (max-width:972px) {
        font-size: 35px;
        line-height: 46px;
    }
    

    @media (max-width:665px) {
        font-size: 25px;
        line-height: 33px;
        width: 56.8%;
    }
}

.services-buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 6.7%;
    width: 55.5%;
    padding-top: 29px;
    padding-bottom: 15px;

    @media (max-width:972px) {
        width: 83.55%;
        padding-top: 38px;
    }

    @media (max-width:665px) {
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 9px;

        width: 252px;
        height: 79px;
    }
}

.services-bttn {
    margin: 0;
    padding: 0;

    width: 161px;
    height: 50px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.06px;

    color: $orange;
    background-color: transparent;
    border: 1px solid $orange;
    border-radius: 5px;

    @include button-hover ();

    @media (max-width:665px) {
        width: 121px;
        height: 35px;

        font-size: 15px;
    }
}

.services-block {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-column-gap: 9.5%;
    grid-row-gap: 5.9%;

    margin-top: 88px;
    
    @media (max-width:768px) {
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        grid-column-gap: 16%;
        grid-row-gap: 3.085%;
        margin-top: 25px;
    }

    @media (max-width:665px) {
        margin-top: 75px;
    }

    @media (max-width:600px) {
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
        grid-row-gap: 1.2%;

        padding: 0 25px;
    }
}

.service {
    display: flex;
    flex-direction: column;

    width: 100%;

    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        transition: .3s;
    }

    @media (max-width:972px) {
        width: 100%;
    }

    @media (max-width:665px) {
        max-width: 350px;
    }
}

.service-img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;

    @media (max-width:972px) {
        display: none;
    }
}

.service-img-tablet {
    display: none;

    @media (max-width:972px) {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 20px 20px 0px 0px;
    }
    
}

.service-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: $Inter;
    font-style: normal;

    border: 1px solid $border-color;
    border-radius: 0px 0px 20px 20px;
}

.service-title {
    margin: 10px 0;

    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    color: $orange;
}

.service-p {
    margin: 0 0 36px 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: $grey;

    @media (max-width:972px) {
        width: 73%;
        margin: 0 0 20px 0;
    }
}

//prices

.prices {
    height: 568px;
    
    @media (max-width: 768px) {
        height: 585px;
    }

    @media (max-width: 665px) {
        height: 512px;
    }
    .container {
        display: flex;
        justify-content: space-between;

        padding-top: 38px;

        @media (max-width: 768px) {
            padding-top: 0px;
        }

        @media (max-width: 665px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.prices-title {
    margin: 5px 0 60px 0;

    @include price-typography ();

    @media (max-width: 768px) {
        margin: 40px 0 50px 0;

        font-size: 35px;
        line-height: 42px;
    }

    @media (max-width: 665px) {
        margin: 25px 0 40px 0;

        font-size: 25px;
        line-height: 30px;
        text-align: center;
    }
}

.tariffes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 122.5%;
    height: 282px;
    padding: 34px 41px;

    border: 1px solid $border-color;
    border-radius: 20px;

    @media (max-width: 768px) {
        margin-top: 55px;
    }

    @media (max-width: 665px) {
        margin-top: 0;
    }

    @media (max-width: 665px) {
        align-items: center;
        width: 90.5%;
        height: 235px;
        margin-left: 20px;
    }
}

.tariff {
    display: flex;
    justify-content: space-between;

    padding: 16px 40px;

    max-width: 250px;
    height: 50px;

    font-family: $Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

    background-color: $background-color;
    border-radius: 20px;

    cursor: pointer;

    &:hover {
        background-color: $green-text;
        transition: .3s;
    }

    @media (max-width: 665px) {
        width: 119.5%;
        padding: 16px 40px 16px 30px;

        font-size: 15px;
    }
}

.arrow {
    padding: 6px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.gardeners-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 768px) {
        margin-top: 139px;
    }

    @media (max-width: 665px) {
        align-items: center;
        margin-top: 19px;
    }
}

.gardeners-title {
    max-width: 452px;
    margin: 0;
    @include price-typography (50px);
    
    text-align: right;
    span {
      color: $green-text;  
    }

    @media (max-width: 768px) {
        width: 74.65%;

        font-size: 25px;
        line-height: 35px;
    }

    @media (max-width: 665px) {
        font-size: 20px;
        text-align: center;
    }
}

.leafs-2-container {
    width: 63%;

    @media (max-width: 768px) {
        width: 38.5%;
        margin-top: 34px;
    }

    @media (max-width: 665px) {
        display: none;
    }
}

.leafs-2 {
    width: 100%;
    height: auto;
}

.contact-btn {
    max-width: 162px;
    margin-top: 37px;
    padding: 12px 34px 12px 30px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;

    color: $orange;
    background-color: transparent;
    border: 1px solid $orange;
    border-radius: 5px;
    @include button-hover ();

    @media (max-width: 768px) {
        margin-top: 30px;
    }

    @media (max-width: 665px) {
        max-width: 121px;
        height: 35px;
        padding: 8px 22px;
        margin-top: 14px;

        font-size: 15px;
        line-height: 20px;
    }
}

//contacts

.contacts {
    height: 542px;

    @media (max-width:1227px) {
        height: 739px;
    }

    @media (max-width:650px) {
        height: 445px;
    }

    .container {
        display: flex;
        justify-content: space-between;

        padding-top: 45px;

        @media (max-width:1227px) {
            flex-direction: column;
            align-items: center;

            padding-top: 40px;
            height: 739px;
        }

        @media (max-width:650px) {
            height: 445px;
            padding-top: 25px;
        }

        @media (max-width:600px) {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    background-color: $background-color;
}

.contacts-title {
    padding-left: 50px;
    margin-top: 15px;

    font-family: $Inika;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    color: $green-text;

    @media (max-width:1227px) {
        padding-left: 0;
        margin: 0 0 80px 0;
    }

    @media (max-width:600px) {
        font-size: 25px;
        line-height: 33px;
    }
}

.cities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 5px 35px 5px 20px;
    margin-top: 100px;

    width: 36.9%;
    height: 50px;

    font-family: $Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;

    color: $grey;

    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;

    cursor: pointer;

    &:hover {
        background-color: #C1E698;;
        transition: .3s;
    }

    @media (max-width:1227px) {
        margin: 0 0 140px 0;
        width: 450px;
    }

    @media (max-width: 768px) {
        margin: 0 0 233px 0;
    }

    @media (max-width:650px) {
        margin: 0 0 113px 0;
        padding-right: 20px;
    }

    @media (max-width:600px) {
        width: 100%;
        margin: 0 0 133px 0;
    }
}

.city-arrow {
    margin-left: 5px;
    padding: 6px 5px;

    border-radius: 50%;
    background-color: #AEA1A1;
}

.woman-container {
    order: -1;
    max-width: 400px;
    @media (max-width:1227px) {
        order: 1;
        max-width: 200px;
    }

    @media (max-width: 650px) {
        max-width: 100px;
    }
}

.woman {
    width: 100%;
    height: auto;
}

//footer

.footer {
    height: 132px;
    padding-top: 41px;

    .container {
        display: flex;
        justify-content: space-between;

        font-family: $Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 50px;

        @media (max-width: 885px) {
            flex-direction: column;
            align-items: center;

            line-height: 40px;
        }
    }

    @media (max-width: 885px) {
        height: 200px;
        padding-top: 23px;
    }

    @media (max-width: 650px) {
        height: 161px;
        padding-top: 15px;
    }
}

.creator-info {
    margin: 0;

    word-spacing: 15px;
}

.footer-link {
    text-decoration: none;
    color: #000000;

    &:hover {
        color: $orange;
        transition: .3s;
    }
}

.rss {
    padding-left: 15px;

    @media (max-width:1227px) {
        padding-left: 0;
    }
}

.social-list {
    display: flex;
    justify-content: space-between;

    padding: 5px 0 0 0;
    margin: 0;
    width: 15.45%;

    list-style: none;

    @media (max-width: 1227px) {
        width: 24.5%;
    }

    @media (max-width: 885px) {
        padding: 25px 0 0 0;
        width: 27.6%;
    }

    @media (max-width: 650px) {
        padding: 5px 0 0 0;
        width: 57%;
    }
}

.social-img {
    &:hover {
        transform: scale(1.2);
        transition: .3s;
    }
}