@font-face {
    font-family: 'Inika';
    src: url('/assets/fonts/Inika-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Regular.ttf');
}

@mixin main-typography ($height: 35px) {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: $height;
    color: $main-text;
}

@mixin inika-titles () {
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: $green-text;
}

@mixin price-typography ($line-height: 48px) {
    font-family: 'Inter', sans-serif;
    
    font-weight: bold;
    font-size: 40px;
    line-height: $line-height;
}

@mixin button-hover ($color: #FFFFFF) {
    cursor: pointer;

    &:hover {
        color: $color;
        background-color: $orange;
        transition: .3s;
    }
}

$background-color: #EDF2EC;
$links-nav: #010201;
$main-text: #636060;
$green-text: #499A18;
$orange: #E06733;
$grey: #717171;
$border-color: #E3E1D5;


$Inika: 'Inika', serif;
$Inter: 'Inter', sans-serif;

html {
    scroll-behavior: smooth;   
}

//header

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 110px;
}

.header {
    height: 134px;
    background-color: $background-color;
    font-family: $Inika;

    .container {
        display: flex;
        justify-content: space-between;
    }
}

.logo-container {
    padding: 52px 0 61px 0;
    height: 20px;
}

.logo {
    width: 19.52px;
    height: 19.55px;
}

.logo-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.nav-section {
    padding: 42px 0;
    width: 38.1%;
    height: 50px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    padding: 0;
    margin: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;

    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #010201;
    &:hover {
        color: $orange;
        transition: .3s;
    }
}

//welcome

.welcome {
    height: 532px;
    background-color: $background-color;
    
    .container {
        display: flex;
        justify-content: space-between;

        padding-top: 16px;
    }
}

.leafs {
    
    max-width: 448.8px;
    max-height: auto;
}

.welcome-block {
    width: 45.8%;
    padding-top: 50px;
    font-family: $Inter;
}

.welcome-title {
    margin: 0;
    padding: 0 0 42px 0;
    font-family: $Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: $grey;
    span {
        color: $green-text;
    }
}

.welcome-text {
    margin: 0 0 48px 0;
    @include main-typography();
}

.welcome-button {
    width: 158.65px;
    height: 44px;

    font-family: $Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 10px;

    @include button-hover (#000000);
}

//about

.about {
    height: 666px;

    .container {
        display: flex;
        justify-content: space-between;
    }
}

.about-block {
    width: 49.5%;
    margin: 150px 0 0 0;
    padding: 0;
}

.about-title {
    margin: 0;
    padding-bottom: 40px;
    @include inika-titles();
    

    span {
        color: $orange;
    }
}

.about-text {
    margin: 0;
    @include main-typography(30px);
}

.houseplant {
    margin-top: 82px;
}

//services

.services {
    height: 1300px;

    background-color: $background-color;

    .container {
        padding-top: 35px;
    }
}

.services-header {
    grid-area: 1 / 1;

    display: flex;
    justify-content: space-between;
    max-width: 1007px;
}

.services-title {
    max-width: 306px;
    margin: 0;
    padding: 0;
    @include inika-titles();
}

.services-buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 6.7%;
    width: 55.5%;
    padding-top: 29px;
    padding-bottom: 15px;
}

.services-bttn {
    margin: 0;
    padding: 0;

    width: 161px;
    height: 50px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.06px;

    color: $orange;
    background-color: transparent;
    border: 1px solid $orange;
    border-radius: 5px;

    @include button-hover ();
}

.services-block {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-column-gap: 9.5%;
    grid-row-gap: 5.9%;

    margin-top: 88px;
}

.service {
    display: flex;
    flex-direction: column;

    max-width: 330px;

    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        transition: .3s;
    }
}

.service-img {
    border-radius: 20px 20px 0px 0px;
}

.service-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: $Inter;
    font-style: normal;

    border: 1px solid $border-color;
    border-radius: 0px 0px 20px 20px;
}

.service-title {
    margin: 10px 0;

    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    color: $orange;
}

.service-p {
    margin: 0 0 36px 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: $grey;
}

//prices

.prices {
    height: 568px;

    .container {
        display: flex;
        justify-content: space-between;

        padding-top: 38px;
    }
}

.prices-title {
    margin: 5px 0 60px 0;

    @include price-typography ();
}

.tariffes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 122.5%;
    height: 282px;
    padding: 34px 41px;

    border: 1px solid $border-color;
    border-radius: 20px;
}

.tariff {
    display: flex;
    justify-content: space-between;

    padding: 16px 40px;

    max-width: 250px;
    height: 50px;

    font-family: $Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

    background-color: $background-color;
    border-radius: 20px;

    cursor: pointer;

    &:hover {
        background-color: $green-text;
        transition: .3s;
    }
}

.arrow {
    padding: 6px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.gardeners-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gardeners-title {
    max-width: 452px;
    margin: 0;
    @include price-typography (50px);
    
    text-align: right;
    span {
      color: $green-text;  
    }
}

.contact-btn {
    max-width: 162px;
    margin-top: 37px;
    padding: 12px 34px 12px 30px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;

    color: $orange;
    background-color: transparent;
    border: 1px solid $orange;
    border-radius: 5px;
    @include button-hover ();
}

//contacts

.contacts {
    height: 542px;

    .container {
        display: flex;
        justify-content: space-between;

        padding-top: 45px;
    }

    background-color: $background-color;
}

.contacts-title {
    padding-left: 50px;
    margin-top: 15px;

    font-family: $Inika;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    color: $green-text;
}

.cities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 5px 35px 5px 20px;
    margin-top: 100px;

    width: 36.9%;
    height: 50px;

    font-family: $Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;

    color: $grey;

    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;

    cursor: pointer;

    &:hover {
        background-color: $green-text;
        transition: .3s;
    }
}

.city-arrow {
    margin-left: 5px;
    padding: 6px 5px;

    border-radius: 50%;
    background-color: #AEA1A1;
}

.woman {
    order: -1;
}

//footer

.footer {
    height: 132px;
    padding-top: 41px;

    .container {
        display: flex;
        justify-content: space-between;

        font-family: $Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 50px;
    }
}

.creator-info {
    margin: 0;

    word-spacing: 15px;
}

.footer-link {
    text-decoration: none;
    color: #000000;

    &:hover {
        color: $orange;
        transition: .3s;
    }
}

.rss {
    padding-left: 15px;
}

.social-list {
    display: flex;
    justify-content: space-between;

    padding: 5px 0 0 0;
    margin: 0;
    width: 15.45%;

    list-style: none;
}

.social-img {
    &:hover {
        transform: scale(1.2);
        transition: .3s;
    }
}