@font-face {
    font-family: 'Inika';
    src: url('/assets/fonts/Inika-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Regular.ttf');
}

@mixin main-typography ($height: 35px) {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: $height;
    color: $main-text;
}

@mixin inika-titles () {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: $green-text;
}

$background-color: #EDF2EC;
$links-nav: #010201;
$main-text: #636060;
$green-text: #499A18;
$orange: #E06733;
$grey: #717171;


$Inika: 'Inika', serif;
$Inter: 'Inter', sans-serif;

//header

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 110px;
}

.header {
    background-color: $background-color;
    font-family: $Inika;

    .container {
        display: flex;
        justify-content: space-between;
    }
}

.logo-container {
    padding: 52px 0 61px 0;
    height: 20px;
}

.logo {
    width: 19.52px;
    height: 19.55px;
}

.logo-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.nav-section {
    padding: 42px 0;
    width: 38.1%;
    height: 50px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    padding: 0;
    margin: 0;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;

    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #010201;
    &:hover {
        color: $orange;
        transition: .3s;
    }
}

//welcome

.welcome {
    height: 532px;
    background-color: $background-color;
    
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.leafs {
    margin-top: 16px;
    max-width: 448.8px;
    max-height: auto;
}

.welcome-block {
    font-family: $Inter;
    width: 45.8%;
}

.welcome-title {
    margin: 0;
    padding: 66px 0 42px 0;
    font-family: $Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: $grey;
    span {
        color: $green-text;
    }
}

.welcome-text {
    margin: 0 0 48px 0;
    @include main-typography();
}

.welcome-button {
    width: 158.65px;
    height: 44px;

    font-family: $Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 10px;

    cursor: pointer;

    &:hover {
        background-color: $orange;
        transition: .3s;
    }
}

//about

.about {
    height: 666px;

    .container {
        display: flex;
        justify-content: space-between;
    }
}

.about-block {
    width: 49.5%;
    margin: 150px 0 0 0;
    padding: 0;
}

.about-title {
    margin: 0;
    padding-bottom: 40px;
    @include inika-titles();
    

    span {
        color: $orange;
    }
}

.about-text {
    margin: 0;
    @include main-typography(30px);
}

.houseplant {
    margin-top: 82px;
}

//services

.services {
    height: 1300px;

    background-color: $background-color;

    .container {
        display: grid;
    }
}

.services-title {
    margin: 0;
    padding: 0;
    @include inika-titles();
}

.services-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 559px;
}

.services-bttn {
    padding: 12px 40px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: $orange;
    background-color: transparent;
    border: 1px solid $orange;
    border-radius: 5px;
}

.service {
    display: flex;
    flex-direction: column;

    max-width: 330px;
}

.service-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: $Inter;
    font-style: normal;

    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.service-title {
    margin: 10px 0;

    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    color: $orange;
}

.service-p {
    margin: 0 0 36px 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: $grey;
}