@font-face {
  font-family: 'Inika';
  src: url("/assets/fonts/Inika-Regular.ttf");
}

@font-face {
  font-family: 'Inter';
  src: url("/assets/fonts/Inter-Regular.ttf");
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 110px;
}

.header {
  background-color: #EDF2EC;
  font-family: "Inika", serif;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-container {
  padding: 52px 0 61px 0;
  height: 20px;
}

.logo {
  width: 19.52px;
  height: 19.55px;
}

.logo-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.nav-section {
  padding: 42px 0;
  width: 38.1%;
  height: 50px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #010201;
}

.nav-link:hover {
  color: #E06733;
  -webkit-transition: .3s;
  transition: .3s;
}

.welcome {
  height: 532px;
  background-color: #EDF2EC;
}

.welcome .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leafs {
  margin-top: 30px;
  max-width: 448.8px;
  max-height: auto;
}

.welcome-block {
  font-family: "Inter", sans-serif;
  width: 45.8%;
}

.welcome-title {
  margin: 0;
  padding: 85px 0 42px 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

.welcome-title span {
  color: #499A18;
}

.welcome-text {
  margin: 0 0 48px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.welcome-button {
  width: 158.65px;
  height: 44px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #E06733;
  border-radius: 10px;
  cursor: pointer;
}

.welcome-button:hover {
  color: #000000;
  background-color: #E06733;
  -webkit-transition: .3s;
  transition: .3s;
}

.about {
  height: 666px;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-block {
  width: 49.5%;
  margin: 150px 0 0 0;
  padding: 0;
}

.about-title {
  margin: 0;
  padding-bottom: 40px;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.about-title span {
  color: #E06733;
}

.about-text {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.houseplant {
  margin-top: 82px;
}

.services {
  height: 1300px;
  background-color: #EDF2EC;
}

.services .container {
  padding-top: 35px;
}

.services-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1007px;
}

.services-title {
  max-width: 306px;
  margin: 0;
  padding: 0;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.services-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 6.7%;
          column-gap: 6.7%;
  width: 55.5%;
  padding-top: 29px;
  padding-bottom: 15px;
}

.services-bttn {
  margin: 0;
  padding: 0;
  width: 161px;
  height: 50px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26.06px;
  color: #E06733;
  background-color: transparent;
  border: 1px solid #E06733;
  border-radius: 5px;
  cursor: pointer;
}

.services-bttn:hover {
  color: #FFFFFF;
  background-color: #E06733;
  -webkit-transition: .3s;
  transition: .3s;
}

.services-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-column-gap: 9.5%;
  grid-row-gap: 5.9%;
  margin-top: 88px;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 330px;
  cursor: pointer;
}

.service-img {
  border-radius: 20px 20px 0px 0px;
}

.service-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}

.service-title {
  margin: 10px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #E06733;
}

.service-p {
  margin: 0 0 36px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.prices {
  height: 568px;
}

.prices .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 38px;
}

.prices-title {
  margin: 5px 0 60px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.tariffes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 122.5%;
  height: 282px;
  padding: 34px 41px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.tariff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 40px;
  max-width: 250px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  background-color: #EDF2EC;
  border-radius: 20px;
  cursor: pointer;
}

.arrow {
  padding: 6px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.gardeners-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gardeners-title {
  max-width: 452px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
}

.gardeners-title span {
  color: #499A18;
}

.contact-btn {
  max-width: 162px;
  margin-top: 37px;
  padding: 12px 34px 12px 30px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #E06733;
  background-color: transparent;
  border: 1px solid #E06733;
  border-radius: 5px;
  cursor: pointer;
}

.contact-btn:hover {
  color: #FFFFFF;
  background-color: #E06733;
  -webkit-transition: .3s;
  transition: .3s;
}

.contacts {
  height: 542px;
  background-color: #EDF2EC;
}

.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
}

.contacts-title {
  padding-left: 50px;
  margin-top: 15px;
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 35px 5px 20px;
  margin-top: 100px;
  width: 36.9%;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
  background: #D6E7D2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}

.city-arrow {
  margin-left: 5px;
  padding: 6px 5px;
  border-radius: 50%;
  background-color: #AEA1A1;
}

.woman {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.footer {
  height: 132px;
  padding-top: 41px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}

.creator-info {
  margin: 0;
  word-spacing: 15px;
}

.footer-link {
  text-decoration: none;
  color: #000000;
}

.footer-link:hover {
  color: #E06733;
  -webkit-transition: .3s;
  transition: .3s;
}

.rss {
  padding-left: 15px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0 0 0;
  margin: 0;
  width: 15.45%;
  list-style: none;
}

.social-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .3s;
  transition: .3s;
}
/*# sourceMappingURL=style.css.map */